/* ---------------------------- RESET BROWSER -------------------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

/* ------------------------------ LOADING ------------------------------------- */
.loading{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    animation: loading 3s forwards;
}

@keyframes loading{
    0%{
        visibility: visible;
    }
    100%{
        visibility: hidden;
    }
}

.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    background: linear-gradient(rgba(255,121,218,0.9),rgba(147,86,220,0.9));
}


.loader span{
    letter-spacing: -4px;
    display: inline-block;
    font-family: 'Shrikhand';
    font-size: 55px;
    animation: decalage 1.5s ease-in infinite;
    transform-origin: bottom left;

}

@keyframes decalage{
    0%{
        transform: rotate(0deg);
        color: white;
    }
    60%,100%{
        transform: rotate(8deg);
        color: black;
    }
}


.loader span:nth-child(1){
    animation-delay: 0.1s;
}
.loader span:nth-child(2){
    animation-delay: 0.2s;
}
.loader span:nth-child(3){
    animation-delay: 0.3s;
}
.loader span:nth-child(4){
    animation-delay: 0.4s;
}
.loader span:nth-child(5){
    animation-delay: 0.5s;
}
.loader span:nth-child(6){
    animation-delay: 0.6s;
}
.loader span:nth-child(7){
    animation-delay: 0.7s;
}
.loader span:nth-child(8){
    animation-delay: 0.8s;
}


/* --------------------------------- HEADER ------------------------------------- */

header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-logo{
    z-index: 10;
    box-shadow: 0px 2px 10px 0px grey;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
    background-color:white ;
}

.logo{
    color: black;
    font-family: 'Shrikhand';
    font-size: 32px;
    text-decoration: none;
}

.chosen-city{
    z-index: 9;
    width: 100%;
    height: 50px;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chosen-city i{
    font-size: 18px;
    padding-right: 15px;
}

.chosen-city p{
    font-size: 18px;
}

.contentbot-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    background-color: #f6f6f6;
    padding: 30px 0 30px 0;
    width: 100%;
}

.contentbot-header h2{
    font-weight: bold;
    font-size: 26px;
    width: 70%;
    text-align: center;
    margin-bottom: 15px;
}

.contentbot-header p{
    padding: 0 10px 0 10px;
    font-size: 18px;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.button-1 {
    box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#FF79DA,#9356DC);
    border-radius: 50px;
    height: 60px;
    width: 250px;
}

.button-1 a{
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.button-1:hover{
    opacity: 0.8;
    box-shadow: 0px 0px 30px -6px rgba(0,0,0,0.85);
    transition: 0.5s;
}

/* --------------------------------- OPERATION ------------------------------------- */

#operation-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 15px 30px 15px;
}

#operation-container h2{
    align-self: flex-start;
    font-style: normal;
    font-weight: bold;

    margin-bottom: 20px;
    font-size: 26px;
}

.card-operation{
    box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.75);
    display: flex;
    background-color: #f6f6f6;
    margin: 15px;
    width: 310px;
    height: 70px;
    border-radius: 20px;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.card-operation-content{
    left: -12px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.card-operation-content p{
    font-size: 16px;
    font-weight: bold;
    padding-left: 20px ;
}

.card-operation-content i{
    color: grey;
    font-size: 18px;
    padding-left: 20px;
}

.notif-round{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 5px;
    background-color: #9356DC;
    color:white;
    text-align: center;
}

.card-operation:hover {
    background-color : rgba(147,86,220,0.25) ;
}

.card-operation:hover .card-operation-content i{
    color: #9356DC;
}

/* ----------------------------------- RESTAURANT ---------------------------------- */

#restaurant-section{
    background-color: #f6f6f6;
    padding: 40px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#restaurant-section h2{
    font-size: 26px;
    font-weight: bold;

    align-self: flex-start;
}

.card-restaurant-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.card-restaurant-container a{
    border-radius: 20px;
    margin: 20px;
    background-color: white;
    width: 100%;
    height: 250px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.card-restaurant img{
    object-fit: cover;
    width: 100%;
    height: 180px;
    border-radius: 20px 20px 0 0; 
}

.card-restaurant{
    position: relative;
}

.new-notif{
    border-radius: 3px;
    padding: 7px;
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: #99e2d0;
    color: #0c8e6e;
    font-weight: bold;
}

.infos-restaurant{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.infos-restaurant i{
    font-size: 22px;
    padding-right: 5px;
}

.infos-restaurant h3{
    margin-bottom: 4px;
    font-weight: bold;
}

.bouton-like{
    display: flex;
}

.like-full{
    display: none;
    background: linear-gradient(#FF79DA,#9356DC) ; 
   background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.bouton-like:hover .like-full{
    display: block;

}
.bouton-like:hover .like-empty{
    display: none;
}


/* ---------------------------------------- FOOTER -------------------------------------- */

footer{
    background-color: #353535;
    color: white;
    padding: 15px 0 15px 15px;
}

footer h4{
    font-family: 'Shrikhand';
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 15px;
}

footer ol li{
    margin-bottom: 5px;
    list-style: none;
}

footer ol li a{
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-weight: normal;
}

footer ol li i{
    font-size: 10px;
}

.icon-footer1{
    margin-right: 15px;
}

.icon-footer2{
    margin-right: 11px;
}



/* -------------------------------------------------------- RESPONSIVE ----------------------------------------------------------- */
@media only screen and (min-width:585px){
    .card-restaurant-container a{
        width: 533px;
    }
}

@media only screen and (min-width:985px){
    .card-restaurant-container{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    footer h4{
        border-right: 1px solid white;
        font-size: 25px;
        padding-right: 10px;
        margin: 0 20px 0 0;
    }
    footer ol{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    footer ol li{
        font-size: 20px;
        margin-right: 25px;
        padding-right: 10px;
        border-right: 1px solid white;
    }
    footer ol li:nth-child(4){
        border-right: none;
    }
    footer ol li i{
        font-size: 15px;
    }
}

@media only screen and (min-width:1050px){
    .card-operation-container{
        display: flex;
        flex-direction: row;
    }
}