/* -------- RESET BROWSER -------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body{
    background-color: #f6f6f6;
}

/* -------- HEADER -------- */

header{
    width: 100%;
}

.banner-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0 10px 0;
    background-color:white ;
}

.logo{
    color: black;
    font-family: 'Shrikhand';
    font-size: 32px;
    text-decoration: none;
    position: relative;
    left: -10px;
}

.arrow-back{
    color: black;
    font-size: 20px;
    position: relative;
    left: -70px;
}

header img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* -------- MAIN -------- */
main {
    width: 100%;
    top: -40px;
    position: relative;
    padding: 30px 15px;
    border-radius: 40px 40px 0 0;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 15px;
}

main h3{
    font-weight: normal;
    font-family: 'Roboto';
    padding-bottom: 5px;
    width: 40px;
    margin: 10px 10px 20px 10px;
    text-transform: uppercase;
    border-bottom: solid 3px #99e2d0;
}

.button-1 {
    box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#FF79DA,#9356DC);
    border-radius: 50px;
    height: 50px;
    width: 200px;
}

.button-1 a{
    color: white;
    font-size: 17px;
    text-decoration: none;
}
.button-1:hover{
    opacity: 0.8;
    box-shadow: 0px 0px 30px -6px rgba(0,0,0,0.85);
    transition: 0.5s;
}

.title-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
}

.title-container h2{
    font-family: 'Shrikhand';
    font-weight: 400;
    font-size: 27px;
}

#starters, #dishes, #desserts{
    margin-bottom: 40px;
}


.bouton-like{
    display: flex;
    cursor: pointer;
}

.bouton-like i{
    font-size: 25px;
}

.like-full{
    display: none;
    background: linear-gradient(#FF79DA,#9356DC) ; 
   background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.bouton-like:hover .like-full{
    display: block;

}
.bouton-like:hover .like-empty{
    display: none;
}

/* ----------- Card Content --------- */

.card-content{
    width: 319px;
    height: 70px;
    margin: 10px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 20px -8px grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.content-left{
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.content-left h4{
    margin-bottom: 5px;
    font-weight: 900;
    font-size: 18px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.content-left p{
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.checkbox{
    font-size: 22px;
    width: 0px;
    color: white;
    border-radius: 0 15px 15px 0;
    background:#99E2D0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 500ms;
}

.checkbox i{
    transform: rotate(0);
    transition: all 500ms;
}

.content-right{
    height: 100%;
    display: flex;
    align-self: flex-end;
}

.content-right p{
    font-weight: 900;
    align-self: flex-end;
    margin: 0 10px 10px 0;
}

.card-content:hover .checkbox{
    width: 60px;
}
.card-content:hover .checkbox i{
    transform: rotate(360deg);
}

/* ------------ FOOTER ---------- */

footer{
    background-color: #353535;
    color: white;
    padding: 15px 0 15px 15px;
}

footer h4{
    font-family: 'Shrikhand';
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 15px;
}

footer ul li{
    margin-bottom: 5px;
    list-style: none;
}

footer ul li a{
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-weight: normal;
}

footer ul li i{
    font-size: 10px;
}

.icon-footer1{
    margin-right: 15px;
}

.icon-footer2{
    margin-right: 11px;
}

/* ----------------------------------- APPARITION MENU --------------------------------------- */
@keyframes fadein{
    0%{
        opacity: 0;
        transform: translateY(+20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
/* --------------------------- STARTERS -------------------------------- */

#starters .card-content:nth-child(2){
    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: fadein;
    animation-duration: 700ms;
}
#starters .card-content:nth-child(3){
    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: fadein;
    animation-duration: 700ms;
    animation-delay: 200ms;
}
#starters .card-content:nth-child(4){
    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: fadein;
    animation-duration: 700ms;
    animation-delay: 400ms;
}
#starters .card-content:nth-child(5){
    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: fadein;
    animation-duration: 700ms;
    animation-delay: 600ms;
}

/* --------------------------- DISHES -------------------------------- */
#dishes .card-content:nth-child(2){
    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: fadein;
    animation-duration: 700ms;
}
#dishes .card-content:nth-child(3){
    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: fadein;
    animation-duration: 700ms;
    animation-delay: 200ms;
}
#dishes .card-content:nth-child(4){
    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: fadein;
    animation-duration: 700ms;
    animation-delay: 400ms;
}

/* --------------------------- DESSERTS -------------------------------- */
#desserts .card-content:nth-child(2){
    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: fadein;
    animation-duration: 700ms;
}
#desserts .card-content:nth-child(3){
    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: fadein;
    animation-duration: 700ms;
    animation-delay: 200ms;
}
#desserts .card-content:nth-child(4){
    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: fadein;
    animation-duration: 700ms;
    animation-delay: 400ms;
}

/* ----------------------------------------- RESPONSIVE -------------------------------------------------- */

@media only screen and (min-width:976px){
    footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    footer h4{
        border-right: 1px solid white;
        font-size: 25px;
        padding-right: 10px;
        margin: 0 20px 0 0;
    }
    footer ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    footer ul li{
        font-size: 20px;
        margin-right: 25px;
        padding-right: 10px;
        border-right: 1px solid white;
    }
    footer ul li:nth-child(4){
        border-right: none;
    }
    footer ul li i{
        font-size: 15px;
    }
}

@media only screen and (min-width:700px){
    .card-content{
        width: 350px;
        height: 80px;
    }
    #menu-container{
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
